@import url('//fonts.googleapis.com/css2?family=Alegreya&display=swap');

.main{
    text-align: center;
}

h1, h2 {
    color: #ffd297; 
    text-decoration: underline;
}

p {
    margin-left: 5%;
    color: rgb(184, 184, 184); 
    font-size: 17pt;
}

.menu {
    color: goldenrod; 
    font-size: 1rem;
}

.submenu {
    color: darkgoldenrod; 
    font-size: .8em;
}

body {
    background-color: #030303;
    font-family: 'Alegreya', serif;
}