h1, h2 {
    color: #5f5f5f; 
    text-decoration: underline;
}

p {
    color: dimgray; 
    font-size: 17pt;
}

.menu {
    color: goldenrod; 
    font-size: 1rem;
}

.submenu {
    color: darkgoldenrod; 
    font-size: .8em;
}